# ===== Next.js =====
NEXT_PUBLIC_APP_URL=http://localhost:3000

# ===== Supabase =====
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# ===== Supabase Database (Direct Connection) =====
DATABASE_URL=postgresql://postgres.yaivkjateypwceheaicu:e7r14sbsbJPKwbq6@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres
PGHOST=aws-1-ap-northeast-1.pooler.supabase.com
PGPORT=6543
PGDATABASE=postgres
PGUSER=postgres.yaivkjateypwceheaicu
PGPASSWORD=e7r14sbsbJPKwbq6

# ===== Google OAuth =====
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# ===== GitHub OAuth =====
GITHUB_CLIENT_ID=Ov23liXofZRxxwFVcRRq
GITHUB_CLIENT_SECRET=8ab516ac210c2987369f0d5ea43fd6fb4a2764f6
GITHUB_WEBHOOK_SECRET=openssl rand -hex 32

# ===== Slack OAuth =====
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=

# ===== Gemini =====
GEMINI_API_KEY=

# ===== 自分で生成 =====
SESSION_SECRET=bb2139b1cb451f65a0d93e287a61e958bcbfd368df1ac34e29ff65ed01e32a8cfd229807de3e2daa50430db880cbe3c061bfdfef113d54f00caeef2a68aab1f5
TOKEN_ENCRYPTION_KEY=